.mat-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 5px #0000004d;
}

.mat-drawer-container {
  padding-top: 100px;
}

.mat-drawer-side {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  padding: 80px 1rem;
  background-color: #cecece;
}
