<mat-drawer-container class="example-container">

  <mat-drawer #drawer class="example-sidenav" mode="push">
    <mat-nav-list>
      <mat-list-item>Home</mat-list-item>
      <mat-list-item>About</mat-list-item>
      <mat-list-item>FAQ</mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <mat-toolbar color="accent">
    <button (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span style="margin-left: 2rem;">{{ title }}</span>
  </mat-toolbar>

  <div class="container">
    <app-heroes></app-heroes>
  </div>
</mat-drawer-container>
