<div class="wrapper">
  <mat-card (click)="onSelect(hero.id)" *ngFor="let hero of heroes" [class.selected]="hero === selectedHero"
            [matTooltip]="hero.name.length > 15 ? hero.name : ''" class="hero-card"
            matTooltipPosition="above" style="cursor:pointer;">
    <mat-card-header style="width: 100%;">
      <mat-card-title class="hero-card__title"
      >{{ hero.name }}</mat-card-title>
    </mat-card-header>
    <img [alt]="hero.name" [src]="hero.img" class="hero-card__image" mat-card-image>
  </mat-card>
</div>
